<div class="row">
  <dl class="dl-horizontal">
    <dt>Id</dt>
    <dd>{{model.id}}</dd>
    <dt>Status</dt>
    <dd>{{model.status}}</dd>
    <dt>Result</dt>
    <dd>
      {{#if model.statusSpinner}}
      <i class="fa fa-spinner fa-spin"></i>
      {{/if}}
      {{#if model.statusHourGlass}}
      <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
      {{/if}}
      {{#if model.statusSuccess}}
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {{/if}}
      {{#if model.statusFailed}}
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      {{/if}}
    </dd>
  </dl>
</div>

{{#if model.hasChildren}}
<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
      <div class="table-responsive">
        <table class="table">
            <thead>
              <th>ENV</th>
              <th>Status</th>
              <th>Result</th>
              <th>Id</th>
            </thead>
            <tbody>
              {{#each model.children as |childJob|}}
              <tr>
                <td>{{childJob.cmdsEnv}}</td>
                <td>{{childJob.status}}</td>
                <td>
                  {{#if childJob.statusSpinner}}
                  <i class="fa fa-spinner fa-spin"></i>
                  {{/if}}
                  {{#if childJob.statusHourGlass}}
                  <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                  {{/if}}
                  {{#if childJob.statusSuccess}}
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  {{/if}}
                  {{#if childJob.statusFailed}}
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  {{/if}}
                </td>
                <td>{{#link-to 'project.job' childJob.id}}{{childJob.id}}{{/link-to}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
      </div>
  </div>
</div>
{{/if}}

{{#if model.hasOutput}}
<div class="row">
  <div class="console">{{{model.outputString}}}</div>
</div>
{{/if}}
